@import "tailwindcss";
@import "tw-animate-css";
@import "./themes.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@custom-variant dark (&:is(.dark *));

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
}
