:root {
  --background: oklch(0.9479 0.0061 250);
  --foreground: oklch(0.2462 0.0425 270);
  --card: oklch(1 0.005 250);
  --card-foreground: oklch(0.2462 0.0425 270);
  --popover: oklch(1 0.005 250);
  --popover-foreground: oklch(0.2462 0.0425 270);
  --primary: oklch(0.6241 0.0187 240);
  --primary-foreground: oklch(1 0.005 250);
  --secondary: oklch(0.8499 0.0305 200);
  --secondary-foreground: oklch(0.2462 0.0425 270);
  --muted: oklch(0.9252 0.0108 245);
  --muted-foreground: oklch(0.5482 0.0362 270);
  --metadata-foreground: oklch(0.35 0.035 265);
  --accent: oklch(0.824 0.0163 220);
  --accent-foreground: oklch(0.2462 0.0425 270);
  --destructive: oklch(0.8018 0.1569 15);
  --destructive-foreground: oklch(1 0.005 250);
  --border: oklch(0.86 0.0108 245);
  --input: oklch(1 0.005 250);
  --ring: oklch(0.6241 0.0187 240);
  --chart-1: oklch(0.6241 0.0187 240);
  --chart-2: oklch(0.7057 0.051 200);
  --chart-3: oklch(0.6736 0.0314 210);
  --chart-4: oklch(0.5482 0.0362 270);
  --chart-5: oklch(0.9252 0.0108 245);
  --sidebar: oklch(0.983 0.0034 250);
  --sidebar-foreground: oklch(0.2462 0.0425 270);
  --sidebar-primary: oklch(0.6241 0.0187 240);
  --sidebar-primary-foreground: oklch(1 0.005 250);
  --sidebar-accent: oklch(0.9252 0.0108 245);
  --sidebar-accent-foreground: oklch(0.2462 0.0425 270);
  --sidebar-border: oklch(0.86 0.0108 245);
  --sidebar-ring: oklch(0.6241 0.0187 240);
  --font-sans: Antic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #291a2e;
  --shadow-2xs: 0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.02);
  --shadow-sm:
    0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px
    hsl(285 27.7778% 14.1176% / 0.04);
  --shadow:
    0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.04), 0px 1px 2px -1px
    hsl(285 27.7778% 14.1176% / 0.04);
  --shadow-md:
    0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.04), 0px 2px 4px -1px
    hsl(285 27.7778% 14.1176% / 0.04);
  --shadow-lg:
    0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.04), 0px 4px 6px -1px
    hsl(285 27.7778% 14.1176% / 0.04);
  --shadow-xl:
    0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.04), 0px 8px 10px -1px
    hsl(285 27.7778% 14.1176% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(285 27.7778% 14.1176% / 0.1);
  --tracking-normal: 0em;
  --spacing: 0.23rem;
}

.dark {
  --background: oklch(0.1724 0.005 250);
  --foreground: oklch(0.9702 0.005 250);
  --card: oklch(0.1822 0.005 250);
  --card-foreground: oklch(0.9702 0.005 250);
  --popover: oklch(0.1822 0.005 250);
  --popover-foreground: oklch(0.9702 0.005 250);
  --primary: oklch(0.6241 0.0187 240);
  --primary-foreground: oklch(0 0.005 250);
  --secondary: oklch(0.2178 0.005 250);
  --secondary-foreground: oklch(0.9702 0.005 250);
  --muted: oklch(0.2178 0.005 250);
  --muted-foreground: oklch(0.7058 0.005 250);
  --metadata-foreground: oklch(0.85 0.005 250);
  --accent: oklch(0.3639 0.0149 235);
  --accent-foreground: oklch(0.9702 0.005 250);
  --destructive: oklch(0.9237 0.1811 15);
  --destructive-foreground: oklch(1 0.005 250);
  --border: oklch(0.285 0.005 250);
  --input: oklch(0.1822 0.005 250);
  --ring: oklch(0.6241 0.0187 240);
  --chart-1: oklch(0.6241 0.0187 240);
  --chart-2: oklch(0.7057 0.051 200);
  --chart-3: oklch(0.6736 0.0314 210);
  --chart-4: oklch(0.5482 0.0362 270);
  --chart-5: oklch(0.5042 0.0171 245);
  --sidebar: oklch(0.1684 0.005 250);
  --sidebar-foreground: oklch(0.9702 0.005 250);
  --sidebar-primary: oklch(0.6241 0.0187 240);
  --sidebar-primary-foreground: oklch(1 0.005 250);
  --sidebar-accent: oklch(0.2178 0.005 250);
  --sidebar-accent-foreground: oklch(0.9702 0.005 250);
  --sidebar-border: oklch(0.285 0.005 250);
  --sidebar-ring: oklch(0.6241 0.0187 240);
  --font-sans: Antic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 2px 4px -1px hsl(0 0% 0% / 0.04);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 4px 6px -1px hsl(0 0% 0% / 0.04);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.04), 0px 8px 10px -1px hsl(0 0% 0% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-metadata-foreground: var(--metadata-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
